{% extends "base.html" %}
{% block content %}
    <h1>Medicines</h1>
    <a href="{{ url_for('add_medicine') }}" class="btn btn-success mb-3">Add Medicine</a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Manufacturer</th>
                <th>Price</th>
                <th>Stock</th>
            </tr>
        </thead>
        <tbody>
            {% for medicine in medicines %}
                <tr>
                    <td>{{ medicine.name }}</td>
                    <td>{{ medicine.manufacturer }}</td>
                    <td>${{ medicine.price }}</td>
                    <td>{{ medicine.stock }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
